@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cal Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url("/public/fonts/CalSans-SemiBold.woff2") format("woff2"),
      url("/public/fonts/CalSans-SemiBold.woff") format("woff"),
      url("/public/fonts/CalSans-SemiBold.ttf") format("truetype");
}
